.middle { background-color: #F8F8F8; }
.slogan { font-weight: bold;  font-size: 11pt; font-family: Times New Roman PS MT, Times, sans-serif; color: #FFFFFF ;  }
.theme { font-size: 8pt; font-family: Tahoma, sans-serif; font-weight: bold; color: #FFCC00  ;text-decoration: none; }
.pageContent {  font-size: 8pt; font-family: Tahoma, sans-serif; color: #3A3D35 ;  }
.menu { font-size: 8pt; font-family: Tahoma, sans-serif; font-weight: bold; color: #FFFFFF  ;text-decoration: none; }
.main-menu { font-size: 8pt; font-family: Tahoma, sans-serif;  color: #6D9229  ; }
.bottom-menu { font-size: 8pt; font-family: Tahoma, sans-serif;  color: #629C36  ;  font-weight: bold;text-decoration: none;}
.copyright {font-size: 7pt; font-family: Tahoma, sans-serif;  color: #393D34  ;}
.information {font-size: 7pt; font-family: Tahoma, sans-serif;  color: #393D34  ;font-weight: bold;}
.site {font-family: Times New Roman PS MT, Times, sans-serif;  font-weight: bold; font-style: italic; font-size: 9pt; color:  #6D9229  ;text-decoration: none;}
.main-title { font-size: 8pt; font-family: Tahoma, sans-serif; font-weight: bold; color: #FFFFFF  ;text-decoration: none; }
